*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    transition: all 0.5s ease;
}


body{
    font-family: "Maven Pro", sans-serif;
    background: url(gym2.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center 40%;
    display: flex;
    align-items: center;
    justify-content : center;
    /* margin-left: 100px; */
}


.container{
    width: 450px;
    height: 450px;
    border: 0.1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 9px 8px 4px #191818;
}




input{
    font-size: 1.2rem;
    color: whitesmoke;
    padding-bottom: 5px;
    transition: 0.3s ease-in-out;
    
}



input:hover{
    scale: 1.01;
    /* color: transparent; */
}


.input{
    width: 22vw;
    height: 30px;
    margin: 20px 0;
    background-color: transparent;
    /* border-radius: 5px; */
    padding:0 15px;
    outline: none;
    border: none;
    border-bottom:1px solid whitesmoke;
}


h2{
    font-size: 1.9rem;
    color: whitesmoke;
}




.kgAndCm{
    font-size: 1.2rem;
    color: whitesmoke;
    position: relative;
    top: 17px;
}




button{
    width: 22vw;
    height: 35px;
    margin: 20px 0;
    font-size: 1rem;
    color: rgb(255, 247, 247);
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid white;
    
}

button:hover{
    cursor: pointer;
    /* scale: 1.05; */
    background-color: #191818a3;
    transform: translateY(-5px);
}




#results{
    color: whitesmoke;
}



.wrong{
    text-shadow: 0 0 10px #ff0000, /* Green glow */
                     0 0 20px #ff0000, /* Green glow */
                     0 0 30px #ff0000, /* Green glow */
                     0 0 40px #ff0000, /* Green glow */
                     0 0 50px #ff0000, /* Green glow */
                     0 0 60px #ff0000, /* Green glow */
                     0 0 70px #ff0000; /* Green glow */

    color: whitesmoke;                 
    
}

.right{
    text-shadow: 0 0 10px #00ff00, /* Green glow */
                     /* 0 0 20px #00ff00, /* Green glow */
                     /*0 0 30px #00ff00, /* Green glow */
                     /*0 0 40px #00ff00, /* Green glow */
                     /*0 0 50px #00ff00, /* Green glow */
                     /*0 0 60px #00ff00, Green glow */
                     0 0 70px #00ff00; /*Green glow */
    
    color: whitesmoke;

}




@media (min-width: 600px) and (max-width: 1300px){
    .input{
        width: 300px;
    }
    button{
        width: 300px;
    }
}



@media (max-width: 600px){
    .container{
        width: 350px;
        height: 450px;
    }
    .input{
        width: 280px;
    }
    button{
        width: 280px;
    }
    body{
        background: url(gym_m.jpg);
        background-position: center;
        background-size: cover;
    }
}
